/* NOSOTROS  */

.nosotros {
    background-image: url(../assets/slidernosotros.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 20px;
}

.coln{
    background-image: url(../assets/pexels-photo-3738222.jpeg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coln2 {
    background-image: url(../assets/pexels-photo-6971877.jpeg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__bodyn {
    font-family: $font-main;
    font-size: 16px;
    align-self: flex-end;
    display: flex;
    align-items: center;
}
.nosotros__contenedor2 {
    background: #fdf7ed;
    color: #ffff;
    padding: 70px;
    height: 100%;
}

.nosotros__contenedor {
    padding: 200px 50px;
    color: $color;
    width: 60%;
    gap: 10px;
}

.nosotros__titulo {
    font-family: $font-main;
    font-size: 80px;
    color: $color;
    align-items: center;
    padding: 0px 500px;

}

.nosotros-cards {
    display: flex;
    color: $color;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 140px;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 90px;
}

.row_nosotros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    padding-bottom: 90px;
}

.card-nosotros {
    width: 30%;
    padding: 10px;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
}

.card-valores {
    width: 30%;
    padding: 10px;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
}
.nosotros__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;

}

.nosotros__info h2 {
    font-family: $font-main;
    font-size: 50px;
    padding: 20px 0;
}

.nosotros__info p {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.card-nosotros img {
    width: 40%;
    height: 80%;
    object-fit: cover;
    align-items: flex-end;
    margin-left: 10px;
}

.card-valores img {
    width: 40%;
    height: 80%;
    object-fit: cover;
    align-items: flex-end;
    margin-left: 110px;
}

.text-nosotros {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 40px;
}

.body-nosotros {
    font-family: $font-main;
    font-size: 32px;
}

.card--2 {
    display: flex;
    width: 100%;
    gap: 10px;
}

.card--body-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}