/* FOOTER */

footer {
    background: $color2;
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;

    section {
        display: flex;
        flex-direction: column;
        color: #fff;
        font-family: $font-main;
        font-size: 24px;

        form {
            display: flex;
            flex-direction: column;
            gap: 5px;

            input {
                background-color: $color2;
                color: $color;
                padding: 10px;
                width: 300px;
                outline: none;
                font-family: $font-main;
            }

            button.btn {
                width: 30%;
                font-size: 24;
                padding: 5px;
                align-self: flex-end;
            }
        }
    }

    .footer-link {
        text-decoration: none;
        color: $color;
        list-style: none;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .footer-icons {
        display: flex;
        color: $color;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
        width: 10%;
        flex-flow: row;
    }
    
    .footer-icons1 {
        display: flex;
        justify-content: space-between;
        width: 10%;
        height: 100px;
        gap: 10px
    }
}

.container-fluid {
    background: $color2;
}

.h2 {
    font-family: $font-main;
    color: $color;
}

.h4 {
    font-family: $font-main;
    color: $color;
}

.form-control {
    background-color: $color2;
    color: $color;
    padding: 10px;
    width: 230px;
    outline: none;
    border-color: $color;
    font-family: $font-main;  
    border-radius: 0px;
    border-width: 2px;
}


.btn-footer {
    color: #fff;
    background-color: $color;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: $font-main;
    width: 40%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 40px;
}

.row-footer{
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    justify-content: center;
}

.row {
    background-color: $color2;
    color: $color;
    display: flex;
    justify-content: space-around;
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 5rem;
    margin: 0px;
    padding: 10px;
}