.second-color {
    color: $color;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
}
.text-center {
    font-family: $font-main;
    font-size: 50px;
}

.text-decoration {
    font-family: $font-main;
    font-size: 20px;
    padding-bottom: 20px;
}
.btn {
    color: #fff;
    background-color: $color;
    padding: 5px;
    width: 110px;
    border-radius: 3px;
    font-family: $font-main;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 15px;
    margin: 20px;

}

.btnform {
    color: $color;
    background-color: #fff;
    padding: 5px;
    width: 110px;
    border-radius: 3px;
    font-family: $font-main;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 15px;
    margin: 20px;
}


/* MAIN */
.hero {
    background-image: url(../assets/home.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero__contenedor {
    padding: 200px 50px;
    color: $color;
    width: 60%;
    gap: 10px;
}

.hero__contenedor p {
    font-family: $font-main;
    font-size: 40px;
    padding-right: 150px;
    margin: 15px 0;
}

.hero__titulo {
    font-family: $font-main;
    font-size: 80px;
    color: $color;
}